* {
  border-radius: 4px;
  font-family: "Monaco Nerd Font";
  font-size: 14px;
}

window#waybar {
  background: transparent;
}

/* Module Left */

#cpu {
  margin: 6px 0 6px 6px;
  padding: 0 10px;
  color: #96cdfb;
  background: #161320;
}

#memory {
  margin: 6px 0 6px 6px;
  padding: 0 10px;
  color: #ddb6f2;
  background: #161320;
}

/* Module Center */

#workspaces {
  margin: 6px 0;
  background: #161320;
}

#workspaces button {
  color: #b5e8e0;
}

#workspaces button:hover {
  color: #e8a2af;
}

#tray {
  margin: 6px 0 6px 6px;
  padding: 0 10px;
  color: #b5e8e0;
  background: #161320;
}

/* Module Right */

#backlight {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #f8bd96;
  background: #161320;
}

#pulseaudio {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #fae3b0;
  background: #161320;
}

#network {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #bd93f9;
  background: #161320;
}

#clock {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #abe9b3;
  background: #161320;
}

#custom-power {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #f28fad;
  background: #161320;
}

#battery {
  margin: 6px 6px 6px 0;
  padding: 0 10px;
  color: #b5e8e0;
  background: #161320;
}
